
/* styles for cards */
.cards{
    /* background-color: whitesmoke; */
    display: flex;
    margin: 2rem 1rem;
    max-width: 50vw;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 0px 0px rgb(195, 195, 195);
}
.fbCard{
    text-align: center;
    padding: 2rem;
    width: 50%;
    background-color: aliceblue;
    border-right: 1px solid gray;
}
.googleCard{
    text-align: center;
    padding: 2rem;
    width: 50%;
}
.bottomInfo{
    background-color: lightsteelblue;
    padding: 0.2rem;
    width: fit-content;
    border-radius: 2px;
}
.arrowIcon{
    background-color: rgb(255, 0, 136);
    padding: 0rem 0.1rem 0.1rem 0rem;
    margin-left: 0.1rem;
}

/* styles for chart */

.impressionInfo{
    background-color: lightsteelblue;
    padding: 0.2rem;
    width: fit-content;
    border-radius: 2px;
}
.arrowUpward{
    background-color: rgb(123, 255, 0);
    padding: 0rem 0.1rem 0.1rem 0rem;
    margin-left: 0.1rem;
}
.lineGraph{
    width: 40vw;
}
.chartContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

/* styles for bottom cards */
.bottomCards{
    /* background-color: whitesmoke; */
    display: flex;
    margin: 2rem 1rem;
    max-width: 90vw;
}
.card{
    text-align: center;
    padding: 2rem;
    width: 32%;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 0px 0px rgb(195, 195, 195);
    margin: 0.5rem;
}




@media screen and (max-width: 900px){
    .cards{
        /* background-color: whitesmoke; */
        display: flex;
        margin: 2rem 0.5rem;
        max-width: 94vw;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 2px 0px 0px rgb(195, 195, 195);
    }
    .bottomCards{
        /* background-color: whitesmoke; */
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
        max-width: 90vw;
    }
    .fbCard{
        text-align: center;
        padding: 1rem;
        width: 50%;
        background-color: aliceblue;
        border-right: 1px solid gray;
    }
    .googleCard{
        text-align: center;
        padding: 1rem;
        width: 50%;
    }
    .card{
        text-align: center;
        padding: 2rem;
        width: 90%;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 2px 0px 0px rgb(195, 195, 195);
        margin: 0.5rem;
    }
    .lineGraph{
        width: 85vw;
    }
    .chartContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}